autograd
ConfigSpace==0.4.16
gzip
matplotlib
networkx==2.4
numpy
pandas
pathvalidate
pybnn
scikit-image
scikit-learn
scipy
seaborn
statsmodels
tensorflow==1.14.0
tensorflow-gpu==1.14.0
tensorboard==1.14.0
tensorflow-estimator
torch==1.5.0
torch-cluster==1.5.4
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.3
torch-spline-conv==1.2.0
torchvision==0.6.0
tqdm

-e git://github.com/google-research/nasbench.git@master#egg=nasbench